<h1>Sean Gee</h1>
<p><strong>About me:</strong> 
  I studied Electircal Enginering, 
  worked as a 
  <%= link_to("Software Developer", "http://www.linkedin.com/in/seangee") %> 
  <!-- insert linkedin icon -->
  making simulations, 
  and now I'm hacking my way into the web 
  <%= link_to("Tasty Bit", "http://tastespottingclone.herokuapp.com/") %>. 
  <!-- insert new icon -->
  You can find me solving problems with code 
  <%= link_to("Git Hub", "https://github.com/smgcode") %>, 
  <!-- insert Github icon -->
  climbing walls in Yosemite, 
  or shooting photos of the sunset 
  <%= link_to("Blogspot", "http://fifthtone.blogspot.com/") %>.
  <!-- insert Blogspot icon -->
</p>
<p>
  Write me:
  <%= link_to("SeanGee@gmail.com", "mailto:SeanGee@gmail.com") %>
  <!-- insert email icon -->
</p>
<p>
  Projects to include:
  <ul>
    <li>Active Record</li>
    <li>Rails Lite</li>
    <li>Asteroids</li>
  </ul>
</p>